.add-comment-modal {
    padding: 50px;
    height: 290px;
    width: 300px;
    /* border: 2px solid black; */
    /* border-radius: 20px; */
}

.add-comment-input textarea {
 height: 130px;
 width: 250px;
 font-size: 15px;
 border-radius: 10px;
 border: 1px solid black
}

.add-comment-title {
    margin-top: -5px;
    font-size: 20px;
    margin-bottom: 5px;
}

.submit-comment-button {
    background-color: red;
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 20px;

}
.submit-comment-button:hover {
    background-color: rgb(136, 42, 42);
}

.comment-submit-button {
    display: flex;
    justify-content: center;


}
