.add-comment-modal {
    padding: 30px;
    height: 200px;
    width: 300px;
}

.add-comment-input textarea {
 height: 130px;
 width: 300px;
 font-size: 15px;
 border-radius: 10px;
 border: 1px solid black
}

.add-comment-title {
    margin-top: -5px;
    font-size: 20px;
    margin-bottom: 5px;
}

.submit-comment-button {
    background-color: red;
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;

}
.comment-submit-button {
    display: flex;
    justify-content: center
}
