.add-comment-modal {
    padding: 50px;
    height: 290px;
    width: 300px;
    /* border: 2px solid black; */
    /* border-radius: 20px; */
}

.comment-container-new {
    margin-top: 13px;
}

.add-comment-title-new {
    margin-top: -5px;
    font-size: 20px;
    margin-bottom: 8px;
}

.add-comment-input textarea {
 height: 130px;
 width: 250px;
 font-size: 15px;
 border-radius: 10px;
 border: 1px solid black
}

.add-comment-title {
    margin-top: -5px;
    font-size: 20px;
    margin-bottom: 5px;
}

.submit-comment-button {
    background-color: red;
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 20px;

}
.submit-comment-button:hover {
    background-color: rgb(136, 42, 42);
}

.comment-submit-button {
    display: flex;
    justify-content: center;
    margin-top: -20px;


}

.add-comment-input{
    position: relative;
    margin-bottom: 20px;

}

.add-comment-input textarea {
    /* outline: none; */
    padding: 0 20px;
    padding-top: 20px;
    background: transparent;

}

.add-comment-input label {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 18px;
    pointer-events: none;
    transition: 0.5s;
}

.add-comment-input textarea:valid ~ label,
.add-comment-input textarea:focus ~ label {
    color:rgb(83, 75, 90);
    transform: translateX(5px) translateY(-14px);
    font-size: 12px;
    padding: 0 10px;
    background: white;
   border-left: 1px solid black;
   border-right: 1px solid black;

}
