.container-for-container {
     margin-top: -80px;
}

.board-details-container {
    padding: 0px 180px;

    width: 100%;
    height: auto;
    margin: auto;
    padding: 40px 0;

}

.pins-container-board-details .pin-photos {
    /* width: 100px; */
    margin: 0 0 20px;
    overflow: hidden;
    text-align: center;
   }

   .pins-container-board-details {
    width: 1300px;
    /* min-width: 200px; */
    margin: auto;
    columns: 4;
    object-fit: cover;
    column-gap: 20px;

    /* background-color: black; */
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 1, 0.5);
    border-radius: 40px;
    border: 1px solid rgb(224, 224, 224);
    margin-top: 40px;
    padding: 50px;

   }


.pin-images-2 {
    border-radius: 20px;
    height: auto;
    max-width: 100%;




}

.pin-name-board-details {
    margin-top: -80px;
    margin-left: 20px;
    font-size: 22px;
    position: absolute;
    /* transform: translate(-50%, -50%); */
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
    color: white;
    width: 200px;


    }

    .pins:hover .pin-name-board-details {
        opacity: 1;

    }


.board-details-name {
    font-size: 50px;
    margin-top: 20px;
    text-align: center;

}

.image-profile-2 {
    display: flex;
    justify-content: center;
    margin-top: -50px;

}


.board-details-description {
    text-align: center;
    color: gray;

}

.empty-board-detail {
    font-size: 40px;
    width: 1300px;
    text-align: center;
}

.page-not-found-board-details {
    font-size: 40px;
    text-align: center;
    margin-top: 60px;
}

@media (min-width: 500px) and (max-width: 880px) {
    .pins-container-board-details {
       width: 750px;
       columns: 1
    }
}

@media (min-width: 881px) and (max-width: 1000px ) {
    .pins-container-board-details {
        width: 750px;
        columns: 4
    }
}

@media (min-width: 1001px) and (max-width: 1380px ) {
    .pins-container-board-details {
        width: 900px;
        columns: 5
    }
}
