/* .edit-pin-form-container {
    border: 2px solid black;

} */

.edit-pin-title {
    margin-top: -40px;
    margin-bottom: -15px;
    font-size: 25px;
}


.edit-pin-form {
    padding: 50px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.edit-keyword-pin-input input {
    width: 400px;
    border-radius: 5px;
    outline-color: rgb(124, 186, 186)
}

.edit-keyword-pin-input {
    margin-top: 10px;
    outline-color: rgb(124, 186, 186)
}
.edit-upload-pin-input input {
    width: 400px;
    border-radius: 5px;
    outline-color: rgb(124, 186, 186)
}

.edit-upload-pin-input {
    margin-top: 10px;

}

.edit-image-file-size-select select {
    width: 400px;
    border-radius: 5px;
    outline-color: rgb(124, 186, 186)
}

.edit-image-file-size-select {
    margin-top: 10px;
}

.edit-pin-description-input textarea {
    width: 400px;
    border-radius: 5px;
    height: 100px;
    outline-color: rgb(124, 186, 186)
}

.edit-pin-description-input {
    margin-top: 10px;
}
.edit-pin-name-input input {
    width: 400px;
    border-radius: 5px;
    outline-color: rgb(124, 186, 186)
}

.errors {
    color: rgb(187, 25, 25);
    border-color:  red
}

.edit-pin-subtitles {
    font-size: 20px;
    margin-bottom: 2px;
}

.edit-pin-name-input input {
    height: 30px;
    font-size: 18px;
    background-color: rgb(243, 240, 240);

}

.edit-pin-description-input textarea {
    font-size: 15px;
    background-color: rgb(243, 240, 240);
}

.edit-pin-subtitles-2  {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.edit-keyword-pin-input input {
    height: 30px;
    font-size: 18px;
    background-color: rgb(243, 240, 240);
}

.edit-upload-pin-input input {
    background-color: rgb(243, 240, 240);
    font-size: 18px;
}

.edit-image-file-size-select select {
    height: 30px;
    font-size: 18px;
    background-color: rgb(243, 240, 240);
}

.edit-pin-save {
    margin-top: 20px;
}

.edit-pin-save-button {
    background-color: red;
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

.edit-pin-save-button:hover {
    background-color: rgb(136, 42, 42);
}
