.sign-up-container {
    margin: 30px;
    display: flex;
    flex-direction: column;
    height: 430px;
    width: 300px;
}

.sign-up-title {
    display: flex;
    justify-content: center;
}

.sign-up-inputs-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: -10px;
}

.sign-up-inputs input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    width: 250px;
    height: 35px;
    background: rgb(243, 241, 241)

}
.sign-up-form-button {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 15px;
    padding: 5px 80px 5px 80px;
    background-color: white;
    color: black;

}

.sign-up-form-button:hover {
    background-color: red;
    color: white
}

.signup-errors {
    color: rgb(213, 50, 50);
    margin-top: -18px;
    margin-bottom: 20px;
    font-size: 14px;
}


.sign-up-inputs{
    position: relative;
    margin-bottom: 20px;
}

.sign-up-inputs input {
    /* outline: none; */
    padding: 0 20px;
    background: rgb(243, 241, 241)

}

.sign-up-inputs label {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 18px;
    pointer-events: none;
    transition: 0.5s;
}

.sign-up-inputs input:valid ~ label,
.sign-up-inputs input:focus ~ label {
    color:rgb(83, 75, 90);
    transform: translateX(5px) translateY(-14px);
    font-size: 12px;
    padding: 0 10px;
    background: white;
   border-left: 1px solid black;
   border-right: 1px solid black;
}
