.create-board-container {
    padding: 25px;
}

.create-board-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-board-name input {
    width: 300px;
    height: 35px;
    font-size: 18px;
    margin-bottom: 5px;
    border-radius: 7px;
    background-color: rgb(239, 237, 235);
}

.create-board-name-title {
    font-size: 20px;
}
.create-board-description textarea {
    width: 300px;
    height: 100px;
    font-size: 18px;
    border-radius: 7px;
    background-color: rgb(239, 237, 235);

}

.create-board-description-title {
    margin-top: 10px;
    font-size: 20px;
}

.create-board-submit-button {
    background-color: white;
    border: 1px solid black;
    border-radius: 7px;
    padding: 8px;
    color: black;
    font-weight: bold;
    margin-top: 20px;
}

.create-board-submit-button:hover {
    background-color: red;
    color: white;
}

.create-board-name{
    position: relative;
    margin-bottom: 20px;
}

.create-board-name input {
    /* outline: none; */
    padding: 0 20px;
    background: rgb(243, 241, 241)

}

.create-board-name label {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 18px;
    pointer-events: none;
    transition: 0.5s;
}

.create-board-name input:valid ~ label,
.create-board-name input:focus ~ label {
    color:rgb(83, 75, 90);
    transform: translateX(5px) translateY(-14px);
    font-size: 12px;
    padding: 0 10px;
    background: white;
   border-left: 1px solid black;
   border-right: 1px solid black;

}


.create-board-description{
    position: relative;
    margin-bottom: 20px;
}

.create-board-description textarea {
    /* outline: none; */
    padding: 0px 20px;
    padding-top: 20px;
    background: rgb(243, 241, 241)

}

.create-board-description label {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 18px;
    pointer-events: none;
    transition: 0.5s;
}

.create-board-description textarea:valid ~ label,
.create-board-description textarea:focus ~ label {
    color:rgb(83, 75, 90);
    transform: translateX(5px) translateY(-14px);
    font-size: 12px;
    padding: 0px 10px;
    background: white;
   border-left: 1px solid black;
   border-right: 1px solid black;

}
