.options-container{
    /* border-radius: 20px; */
    border: 3px solid black;
}

.board-options-container {
  margin: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board-selections {
    font-size: 30px;
}

.board-selections:hover option {
    border: none;
    outline: none;

}


.save-to-board-button-2 {
    border-radius: 20px;
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
    height: 40px;
    width: 70px;
    margin-top: 20px;
 }

 .save-to-board-button-2:hover {
     background-color: rgb(136, 42, 42);
 }

.save-to-board-button-2 {
    background-color: red;
}
