.boards-page-container {
/* background-color: rgb(142, 83, 83); */




}


.adding-pins-and-boards-container {
   display: flex;
   align-items: flex-end;
    flex-direction: column;
   margin-right: 50px;
   margin-top: 50px;
   position: relative;
   /* display: inline-block; */

   /* background-color: black; */
   /* width: 100%; */
}

.create-pins-and-boards-buttons {
    position: absolute;
    top: 100%;
   z-index: 1;
 display: flex;
 flex-direction: column;
 width: 150px;
 height: 110px;
 border: 1px solid rgb(245, 243, 243);
 box-shadow: 0px 0px 20px rgba(0, 0, 1, 0.2);
 background-color: white;
padding: 10px;
border-radius: 20px;
margin-top: 20px;



}



.create-pin-and-board-button:hover {
    background-color: rgb(234, 234, 234);
    border-radius: 50px;
}

.new-board-page-button {
   background-color: white;
   border: none;
   text-align: left;
   margin-top: 5px;
   font-size: 15px;
   font-weight: bold;
   padding: 6px;
}

.new-board-page-button:hover {
    background-color: rgb(241, 237, 237);
    border: 3px solid rgb(149, 200, 208);
    border-radius: 5px;
}
.create-title {
    margin-top: -2px;
    font-size: 13px;
    margin-left: 10px;
}

.boards-create-buttons {
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.board-name {
    max-width: 200px;
    color: black;
    text-decoration: none;
    font-size: 18px;
    margin-top: 10px;
    /* margin-left: 10px; */



}

.board-images:hover  {
    filter: brightness(90%);
}

.board-images:hover .edit-board-button {
    /* opacity: 1; */
}
.edit-board-button {
    position: absolute;
    margin-top: -92px;
    margin-left: 160px;
    /* transform: translate(-50%, -50%); */
    opacity: 1;
    transition: opacity 0.3s ease;
    /* z-index: 1; */


}


.my-name {
    display: flex;
    justify-content: center;
    font-size: 30px;

}
.demo-username {
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: gray
}

.image-profile {
    display: flex;
    justify-content: center;

}
.delete-board-button {
    position: absolute;
    margin-top: -90px;
    margin-left: 15px;
    /* margin-right: 140px; */
    /* transform: translate(-50%, -50%); */
    opacity: 1;
    transition: opacity 0.3s ease;
    /* z-index: 1; */


}

/* .board-images {


    border-radius: 20px;



} */

.board-image {

    max-width: 200px;
    max-height: 250px;
    display: flex;
    border-radius: 20px;
    border: 1px solid black;

}

.board-image {
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.board-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.boards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    gap: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 1, 0.5);
    border-radius: 40px;
    border: 1px solid rgb(224, 224, 224);
    margin-top: -40px;
    padding: 80px;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom : 70px;

}


.board-name-navlink.active {
    text-decoration: none;
    color: black;
}

.please-login-error-page {
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-top: 50px;

}
.social-handles-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 8px;
    margin-bottom: 5px;


}

.social-handles {
    width: 20px;
}
